
body{
    background-color: #f2e1a0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner_head{
    justify-self: center;
    padding: 1rem;
    border-top: 5px #e3d28e;
    border-style: double; 
}

.wrapper{
    display: grid;
    justify-self: center;
    justify-content: center;
    padding: 2px;
    gap: 4px;
    width: 20%;
    height: 100px;
    
}

.art_1{
    border: 5px double #5d4f17 ; 
    border-radius: 5px;
    padding: 5px;
}

.art_2{
    border: 5px double #5d4f17 ; 
    border-radius: 5px;
    padding: 5px;
}

.art_3{
    border: 5px double #5d4f17 ; 
    border-radius: 5px;
    padding: 5px;
}

.art_4{
    border: 5px double #5d4f17 ; 
    border-radius: 5px;
    padding: 5px;
}
