
body{
    background-color: #f2e1a0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner_head{
    justify-self: center;
    padding: 1rem;
    border-top: 5px #e3d28e;
    border-style: double; 
}

.wrapper{
    display: grid;
    justify-self: center;
    justify-content: center;
    padding: 2px;
    gap: 4px;
    border: 5px double #5d4f17 ; 
    width: 40%;
    height: 300px;
    
}

